[submodule "src/utils/capnp-proto"]
	path = src/utils/capnp-proto
	url = https://github.com/HydrogreenPollub/capnp-proto.git
[submodule "src/utils/can-definition"]
	path = src/utils/can-definition
	url = https://github.com/HydrogreenPollub/lib-can-definitions
